body{
margin: 0;    

}

h1{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;

}



.txt_hilight{
    color: goldenrod;
}

.half-width{
    width: 40%;
    float: left;

    margin-left: 5%;
    padding: 2%;
   
}

.half-width img{
    width: 90%;
    right: 20px;
    margin-top: 40px;
    margin-right: 0px;
}

.top{
    background-image: url(images/top-banner.png);
    height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 150px;

}

.btn {
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 5px;
   
   
   background-color: goldenrod;
    color: white;
    

}

.middle{
    height: 400px;
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.three{
   
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    height: 500px;
    background-position: left;
   
}

.exp{
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;

    border-left: 5px solid;
    border-image: linear-gradient(180deg, skyblue,cyan);
    border-image-slice:1 ;

}

footer{
    height: 50px;
    margin-top: 10px;
    text-align: center;
    background-color: aliceblue;
}




